.icono-instagram {
    font-size: 50px; /* Tamaño deseado para el ícono */
    position: relative;
    bottom: px;
    right: 50px;
  }
  .icono-linkedin{
    font-size: 50px; /* Tamaño deseado para el ícono */
    position: relative;
    bottom: px;
    right: 92px;
  }

  .icono-github{
    font-size: 50px; /* Tamaño deseado para el ícono */
    position: relative;
    bottom: px;
    right: 130px;
  }
 
  
  